version: '3.1'

services:

  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_DATABASE: todo
    ports:
      - 3306:3306

  adminer:
    image: adminer
    restart: always
    links:
      - db:db
    ports:
      - 8080:8080

  web:
    image: tutum/apache-php
    depends_on:
      - db
    volumes:
      - ./app:/var/www/html/
    ports:
      - 80:80
